<!-- Styling ideas for the arrangement of the HTML elements were drawn from a previous coursework (specifically the SmileWebInterface component): Sacco, A., Lin, Y. & Ulbrich, C. (2020).'Development of a Mobile Application for Oral Health Education - Team 14', COMP0073: Design. University College London. Unpublished Coursework.-->
<footer class="page-footer font-small blue pt-4 border-top bg-light" style="margin-top:125px;">

    <div class="container-fluid text-center" style="padding-bottom:20px;">

      <div class="row">

        <div class="col-md-6 mt-md-0 mt-3">

          <a style="padding-left:15px; text-align: center;"><kbd style="background-color: #ff5800; font-size: 35px;">SmartVision</kbd></a>

        </div>

        <div class="col-md-6 mt-md-0 mt-3 text-center">
          <h5 style="padding-left:15px">Make workstations intelligent.</h5>
          <p style="padding-left:15px">*Terms and conditons apply.</p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">

      </div>
    </div>
    <div class = "jumbotron jumbotron-fluid" style="background-color:#ff5800; padding-top:10px; padding-bottom:10px; text-align: center; color:white; margin-bottom:0px" >
      <div class="footer-copyright text-center py-3">  © 2020 Copyright:
        <a style = "color:white" href="index.php"> SmartVision.com</a>
      </div>
    </div>
  </footer>